@media screen and (max-width: 764px) {
    body {
      background-color: olive;
    }
  }

@media screen and (min-width: 1024px) {

    .table_div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: 30px;

        input {
            padding: 8px;
            margin-left: 8px;
            font-family: Poppins;
            font-weight: 700;
            font-size: 14px;
            width: 230px;
        }
        .table_add_cell_button{
          background: #019973;
          color: white;
          height: 50px;
          width: 180px;
          border-radius: 8px;
          border: none;
          font-family: Poppins;
          font-weight: 700;
          font-size: 16px;
          margin-top: 12px;
        }
        .table_add_cell_button:hover{
            background: #000639;
        }

        .table_add_button{
            background: #019973;
            color: white;
            height: 29px;
            width: 90px;
            border-radius: 8px;
            padding-bottom: 2px;
            margin-left: 5px;
            font-family: Poppins;
            font-weight: 700;
            font-size: 14px;
          }
          .table_add_button:hover{
              background: #000639;
          }

          table{
            width: 50%;
            border-collapse: collapse;
            border-radius: 4px;
            margin-top: 12px;

            td{
              border: 1px solid #ddd;
              padding: 8px;
              border-radius: 8px;
              font-family: Poppins;
              font-weight: 700;
              font-size: 14px;
              color: #4c4c4c;
            }

            tr{
              text-align: center;
              th{
                height: 50px;
                padding-top: 12px;
                padding-bottom: 12px;
                background-color: #019973;
                color: white;
                font-family: Poppins;
                font-weight: 700;
                font-size: 16px;


              }

            }
            tr:nth-child(even){background-color: #f2f2f2;}
            tr:hover {background-color: #ddd;}
          }

          .table_thead{
              width: 50%;
              .table_tr{
                  th{
                      margin-left: 10px;
                      font-family: Poppins;
                      font-weight: 700;
                      font-size: 14px;
                      border: 1px solid #ddd;
                      padding: 8px;
                  }
              }
          }
          .table_delete_button{
            background: #019973;
            color: white;
            height: 35px;
            width: 80px;
            border-radius: 8px;
            font-family: Poppins;
            font-weight: 700;
            font-size: 14px;
            border: none;
          }
          .table_delete_button:hover{
            background: #000639;
          }
    }
}
